@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">

</style>
<header class="mui-bar mui-bar-nav dark">
    <a class="mui-action-back mui-icon mui-icon-arrowleft mui-pull-left"></a>
    <h1 class="mui-title">添加营养数据</h1>
</header>
<div class="mui-content">
    
</div>
<script>
    var viewModel = {

    };
    viewModel.load = function () {

    }
    ko.applyBindings(viewModel, $('#content')[0]);

    viewModel.load();
</script>