<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="format-detection" content="telephone=no">
    <title>健康管理</title>
    <link href="~/Content/public/css/mui.min.css" rel="stylesheet" />
    <link href="~/Content/public/css/mui.picker.min.css" rel="stylesheet" />
    <link href="~/Content/public/css/mui.poppicker.css" rel="stylesheet" />
    <link href="~/Content/public/css/iconfont.css" rel="stylesheet" />
    <link href="~/Content/public/css/public.css" rel="stylesheet" />
    <script src="~/Content/public/js/mui.js"></script>
    <script src="~/Content/public/js/mui.picker.min.js"></script>
    <script src="~/Content/public/js/mui.poppicker.js"></script>
    <script src="~/Content/js/knockout.js"></script>
    <script src="~/Content/js/zepto.min.js"></script>
    <script src="~/Content/js/base64.js"></script>
    <script src="~/Content/public/js/echarts.min.js"></script>
    <script src="~/Content/public/js/macarons.js"></script>
    <script src="~/Content/public/js/public.js"></script>
    <style type="text/css">
    </style>
</head>
<body>
    <div id="content">
        @RenderBody()       
    </div>
</body>
</html>
